@use "sass:math";
@use "sass:list";

body {
  padding: 0;
  margin: 0;
}

.background {
  background: linear-gradient(to bottom right, black, rgb(53, 53, 53));
  height: 100vh;
  width: 100vw;
  position: relative;
}

@function random-shadows($count, $color: white, $range: 100) {
  $shadows: ();
  @for $i from 1 through $count {
    $x: math.random($range) * 1dvw;
    $y: math.random($range) * 1dvh;
    $shadows: append($shadows, #{$x} #{$y} #{$color}, comma);
  }
  @return $shadows;
}

@keyframes move-up {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-100dvh);
  }
}

$n: 5;
$duration: 400;
@for $i from 1 through $n {
  $duration: math.floor(calc($duration/2));
  $shadows: random-shadows(50);

  .starLayer#{$i} {
    box-shadow: $shadows;
    position: fixed;
    top: 0;
    left: 0;
    height: #{$i}px;
    width: #{$i}px;
    border-radius: 50%;
    animation: move-up #{$duration}s linear infinite;
  }
  .starLayer#{$i}Duplicate {
    box-shadow: $shadows;
    position: fixed;
    top: 100vh;
    left: 0;
    height: #{$i}px;
    width: #{$i}px;
    border-radius: 50%;
    animation: move-up #{$duration}s linear infinite;
  }
}

.title {
  margin: 0;
  color: white;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-size: 86px;
}
